
/* Theme
*/

a, a:visited {
  color: #A10200;
  text-decoration: none;
}
a:active, a:hover {
  color: #222;
  text-decoration: underline;
}




.container {
  margin: 0 auto;
  width: 950px;
  overflow: hidden;  
}

#header {
  margin-top: 1em;
}

#header #category, #category #thumb {
  width: 20%;
}

.content {
  margin: 5em 0 !important;
}


/* Startpage
*/


#startpage #logo .image img {
  width: 310px;
  height: auto;
}
#startpage #about .box {
  margin-left: .5em;
  background: none;
}


/* Category
*/

.category-title h1 {
  word-wrap: break-word;
  padding-right: 1em;
}




/* Single
*/

#single .thumbs li img {
  max-width: 60px;
  max-height: 60px;
}


/* Common
*/

.inline-list {
  display: block;
  margin: 0;
}
.inline-list li {
  display: inline;
  float: left;
  list-style-type: none;
  margin-left: 0;
  white-space: nowarp;
  padding-left: 4px;
  padding-right: 4px;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
