
.container {
  margin: 0 auto;
  width: 950px;
  overflow: hidden;  
}

#header #category, #category #thumb {
  width: 20%;
}

.image img {
  width: 710px;
  height: auto;
}




/* Common
*/

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
