
/* Theme
*/

a, a:visited {
  color: #A10200;
  text-decoration: none;
}
a:active, a:hover {
  color: #222;
  text-decoration: underline;
}


.container {
  margin: 0 auto;
  width: 950px;
  overflow: hidden;  
}

#header {
  margin-top: 1em;
}
#header #category, #category #thumb {
  width: 20%;
}
#header #category img {
  width: 170px;
  height: auto;
  border: 1px solid #eee;
}
#header #category.xilogravura img {
  margin-top: 98px;
}
#header #category.gravura-metal img {
  margin-top: 105px;
}
#header #category.ilustratii img {
  margin-top: 9px;
}
#header #category.desen-culoare img {
  margin-top: 112px;
}
#header #category.sculptura img {

}



.content {
  margin: 5em 0 !important;
}


/* Startpage
*/


#startpage #logo .image img {
  width: 310px;
  height: auto;
}
#startpage #about .box {
  margin-left: .5em;
  background: none;
}

h1.logo {
  font-family: 'OFL Sorts Mill Goudy TT', arial, serif; 
  margin-left: .5em;
}
h1.logo .mircia {
  font-size: 220%;  
}
h1.logo .dumi {
  font-size: 120%;
  position: relative;
  top: -.4em;
}


/* Category
*/

.category-title h1 {
  word-wrap: break-word;
  padding-right: 1em;
}




/* Single
*/

#single .thumbs li img {
  max-width: 60px;
  max-height: 60px;
}


/* Common
*/

.inline-list {
  display: block;
  margin: 0;
}
.inline-list li {
  display: inline;
  float: left;
  list-style-type: none;
  margin-left: 0;
  white-space: nowarp;
  padding-left: 4px;
  padding-right: 4px;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
